/* src/css/scrollama.css - ajustements pour le footer */
html, body {
  overflow-x: hidden;
  height: auto;
}

#scrolly {
  position: relative;
}

.step {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.step.is-active {
  color: #3b3b3b;
}

html {
  scroll-behavior: smooth;
}

/* Styles pour le footer */
footer {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow-y: auto;
}